    <!-- JavaScript -->
    <script src="/jquery/dist/jquery.min.js"></script>
    <script src="/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/wowjs/dist/wow.min.js"></script>
    <script src="/javascripts/app.js"></script>
    <script>
      new WOW().init();
    </script>
 <script src="https://www.gstatic.com/firebasejs/7.13.1/firebase-app.js"></script>

<!-- TODO: Add SDKs for Firebase products that you want to use
     https://firebase.google.com/docs/web/setup#available-libraries -->
<script src="https://www.gstatic.com/firebasejs/7.13.1/firebase-analytics.js"></script>

<script>
  // Your web app's Firebase configuration
  var firebaseConfig = {
    apiKey: "AIzaSyB8V3IYwqKQRk433SLSIDwlthJt7T2qmbI",
    authDomain: "dataanalysis-e8abe.firebaseapp.com",
    databaseURL: "https://dataanalysis-e8abe.firebaseio.com",
    projectId: "dataanalysis-e8abe",
    storageBucket: "dataanalysis-e8abe.appspot.com",
    messagingSenderId: "442052096901",
    appId: "1:442052096901:web:ff98e8966965bcc1370aec",
    measurementId: "G-C5F0M5CD4S"
  };
  // Initialize Firebase
  firebase.initializeApp(firebaseConfig);
  firebase.analytics();
</script>
  </body>
 
</html>