<% include ./partials/header.ejs %>

  <div style="padding-top:50px;">
      <div class="wrapper wow zoomIn" 
      style="background-color: rgb(212, 211, 211);" >
        <h1 class="text-center">Select your intersections</h1>
        <div class="btn-group" >
          <p style="padding-right: 50px;">Select your starting intersection</p>
          <button type="button" class="btn btn-secondary btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Starting Point
          </button>
          <div class="dropdown-menu">
            <button class="dropdown-item" type="button">Insert intersections here</button>
          </div>
        </div>

        <div class="btn-group">
          <p style="padding-right: 50px;">Select your starting intersection</p>
          <button type="button" class="btn btn-secondary btn-sm dropdown-toggle " data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Ending Point
          </button>
          <div class="dropdown-menu">
            <button class="dropdown-item" type="button">Insert town here</button>
          </div>
        </div>

        <div class="btn-group">
          <p style="padding-right: 50px;">Select Date and Time:</p>
          <input type="datetime-local">
        </div>
        <div id="successBtn" style="padding-top: 50px;">
            <a class="btn btn-success" role="button" href="/results">
              <h5>START</h5>
            </a>
        </div>
     </div>
  </div>
  
    
  <% include ./partials/footer.ejs %>
