<% include ./partials/header.ejs %>

  <div class="contentcontainer med left" style="margin-left: 200px; margin-up: 500px">
       <div style = "position:absolute; left:80px; top:100px">
  <div style="font-size:500%;color:white">
	Select your intersections
	  </div>
	</div>
  </div>

<form action="/results" method="POST">

  <div class="contentcontainer med right" style="margin-right: 200px;">
  <div style="padding-top:50px;">
      <div class="wrapper wow zoomIn" 
      style="background-color: rgb(212, 211, 211);" >
        <div class="btn-group" >
          <p style="padding-right: 50px; padding-top: 15px">Select your starting intersection</p>

          <button id = "startDDVal"type="button" style="margin:15px;" value ="Starting Point" class="btn btn-secondary btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            
          </button>

          <div id = "start" class="dropdown-menu">
            <% for (var i = 0; i < dropDown1.length; i++) { %>

            <button id="startDD<%= i %>" class="start dropdown-item" style="margin:15px;" type="button"><%= dropDown1[i] %></button>
                <% } %>

        </div>
          <input id = "inputStart" type="text" name="startInt" id="male" hidden = 'true'><br>


        </div>

        <div class="btn-group">
          <p style="padding-right: 50px; padding-top: 15px">Select your ending intersection</p>
          
          <button type="button" style="margin:15px" id ="endDDVal" class="btn btn-secondary btn-sm dropdown-toggle " data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          </button>
          <div class="dropdown-menu">
                          <% for (var i = 0; i < dropDown2.length; i++) { %>

            <button id ="endDD<%= i %>" class="end dropdown-item" type="button" value =""><%= dropDown2[i] %></button>
                         <% } %>

        </div>
          <input type="text" id = "inputEnd" name="endInt" id="male"  hidden = 'true'><br>

        </div>


        <div class="btn-group">
          <p style="padding-right: 50px; padding-top: 15px">Select Date and Time:</p>
          <input name ="date" type="datetime-local">
        </div>
        <div id="successBtn" style="padding-top: 15px;">
            <input  class="btn btn-success" type="submit" value="Submit">

              <h5>START</h5>
            </div>
        </div>
     </div>
  </div>

  </div>
  </form>
    <% include ./partials/footer.ejs %>



    