<% include ./partials/header.ejs %>
  
<div class="container">
    <div class="divTable" style="padding-top: 150px;">
        <div class="divtableBody">
            <div class="divTableRow"  >
                <div class="divTableCell" style="display: inline-block; text-align: center;" >
                    <div class="container"  >
                    <h1 class="wow zoomIn" style="color: white;"> What City are you coming From?</h1>
                    </div>
                </div>
            </div>
            <div class="divTableRow" >
                <div class="divTableCell"  style="padding-top: 150px;">
                    <div class="container left">
                    <a class="nav-link" href="/intersection">
                         <h1 class="wow bounceInUp" data-wow-duration="3s" style="color: white;">Windsor</h1>
                    </a>
                    </div>
                </div>
                <div class="divTableCell"  style="padding-top: 150px;">
                    <div class="container right">
                        <a class="nav-link" href="/intersection">
                            <h1 class="wow bounceInUp" data-wow-duration="3s" style="color: white;">Detroit</h1>
                       </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<% include ./partials/footer.ejs %>