body {
  padding: 50px;
  
  background-image: url("../images/wp2150816-dark-road-wallpapers.jpg");
}

a {
  color: #00B7FF;
}

#allpage{
  height: 900px;
  width: 1720px;
  margin-top: 10px;
  margin-bottom: 100px;
  margin-right: 150px;
  margin-left: 80px;
}

#tableShape{
  height:100%;
  width: 100%;
}

#fontfam{
  font: Candara;
}

.sizeHeader{
  font-size: 90px;
}

.sizeforP{
  font-size: 20px;
}

.wrapper {
  vertical-align:middle;
  color:835600;
  margin-left:auto;
  margin-right:auto;
  text-align:center;
  width: 600px; 
 }

 .wrapper2 {
  vertical-align:middle;
  color:835600;
  margin-left:auto;
  margin-right:auto;
  text-align:center;
  width: 800px; 
 }


 .divTable{
	display: table;
	width: 100%;
}
.divTableRow {
	display: table-row;
}
.divTableHeading {
	background-color: #EEE;
	display: table-header-group;
}
.divTableCell, .divTableHead {
	display: table-cell;
	padding: 3px 10px;
}
.divTableHeading {
	background-color: #EEE;
	display: table-header-group;
	font-weight: bold;
}
.divTableFoot {
	background-color: #EEE;
	display: table-footer-group;
	font-weight: bold;
}
.divTableBody {
	display: table-row-group;
}

.right {
  position: absolute;
  right: 100px;
  width: 600px;
  padding: 10px;
}

.left {
  text-align: center;
  position: absolute;
  left: 150px;
  width: 600px;
  padding: 10px;
}